.title {
    color: grey;
    font-size: 18px;
}

.icons {
    display: inline;
    a {
        padding: 10px;
    }
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}
