.overview {
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    table {
        color:whitesmoke;
        background-color: #3D4C68;
        th {
            margin-left: 100px;
        }
    }
}
